body{font-family: 'Times New Roman', serif;color: #000;}
h1,h2,h3,h4,h5,h6{font-weight: bold;}
p,span{margin-bottom: 0; text-indent: 1em;}
label{font-weight: normal;}
hr{margin: 0; border-color: #000;}
.view-form .container{width: 728px;}
.container{max-width: 100%;}
.form-group{margin-bottom: 5px; position: relative;}
td .form-group{margin-bottom: 0;}
.form-group .label-stick{background-color: #fff; position: relative; z-index: 1;padding-right: 2px; width: 100%}
.form-control.custom{padding: 0px 5px; height: auto; box-shadow: none; border: 0; display: inline-block; width: auto; border-radius: 0; font-family: Courier,serif; font-weight: bold;}
.form-control.custom.block{width: 100%;}
.form-control input{z-index: 99;}
.form-control.custom.dotted{position: relative; top: -3px;line-height:1;}
textarea.form-control.custom.dotted{text-indent: 45px !important;background: url(../images/bg_textarea.gif); border-bottom: 0; line-height: 26px; }
input.form-control.custom.dotted{
	background: url(../images/bg_textarea.gif); 
	border-bottom: 0; 
	line-height: 26px;
	line-height: 26px;
    background-position: 0px 24px;
    top: -5px;
}
textarea
.checkbox, .radio{display: inline-block;}
.checkbox label::before, .radio label::before{border-color: #000; border-radius: 0;}
.radio label::after{background-color: transparent; width: 17px; height: 17px; text-align: center; left: 0; right: 0; margin: 0; top: 0;}
.checkbox input[type="checkbox"]:checked + label::after, .radio input[type="radio"]:checked + label::after{content: "✔";}
.checkbox.check-right, .radio.check-right{padding-left: 0; padding-right: 20px;}
.checkbox.check-right input[type="checkbox"],
.checkbox.check-right label::before,
.checkbox.check-right label::after,
.radio.check-right input[type="checkbox"],
.radio.check-right label::before,
.radio.check-right label::after{left: auto; right: 0; margin-left: 0;}
.checkbox.check-right label::before,
.checkbox.check-right label::after,
.radio.check-right label::before,
.radio.check-right label::after{margin-right: -20px;}

.table-bordered{border-color: #000;}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{border-color:#000;}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{border-bottom-width: 1px;}

.header_form, .main_form, .form_footer,.form_ext {padding: 30px 0px;}
.header_form{padding: 20px 0px;}
.header_form .border_bottom{border-bottom: 1px solid #000;width: 25%;float: none;margin: -10px auto;}
.header_form .letter{font-weight: 600;}
.header_form .sent{width: 72%;float: none;margin: 0 auto;}
.header_form .sent .style_ul, .main_form .style_ul{list-style: none;font-size: 16px;padding-top: 20px;display: inline-flex;}
.header_form .sent .style_ul li ul, .main_form .style_ul li ul{list-style: none;}
.border_bottom{border-bottom: 1px solid #000;}
.main_form .main_form_table{padding: 20px 0px;}
.main_form .form-group span{border-bottom: 1px solid #000;}

.form_footer .signature{float: right;}
.form_footer .signature h5 i{font-size: 12px;}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
padding: 10px 10px;
    line-height: 17px;
    text-align: center;
    padding-top: 10px!important;
}
textarea {width: 100% !important;}
#sent-document p.text-center{margin-top: 30px; font-size: 16px;}

#sent-document p.text-center.success{color: #f5af00 !important}
#sent-document p.text-center.error *{color: red !important}
#sent-document p.text-center.error{color: red !important}
label,p{
	font-family: Courier,serif;
    font-size: 15px;
}
body #main-document, body .view-form {font-family: Courier,serif !important; }
.button_print{
	border-radius: 5px;
    border: 1px solid #fff;
    background-color: #0072bd;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: fixed;
    left: 0;
    bottom: 20px;
    cursor: pointer;
    padding: 6px 10px;
    z-index: 9999;
}
.button_print i {font-size: 20px; color: #fff}
.menu-primary li a{font-family: "Liberation Sans", FreeSans, sans-serif;}